*{
	margin: 0px;
	padding: 0px;
}
body{
	font-style: italic;
	background-color: #35b6
}
header{
	background-color: #35b8b0;
	height: 70px;
	padding: 10px;
}
footer{
	background-color: #35b8b0;
	height: 50px;
	clear: both;
	text-align: center;
	padding: 10px;
	text-shadow: 1px 1px 1px #111111;

}
#principal{
	background-image: url('../IMG/chicago.jpg');
	background-size: 100%;
	min-height: 500px;
	padding: 100px 0 0 0;
	clear: both;

}
.container{
	width: 960px;
	margin: 0 auto;
}
h1{
	color: #000000;
	text-align: center;
	margin: 0 0 50px 0;
	text-shadow: 1px 1px 1px #111111;
}
p{
	text-shadow: 1px 1px 1px #111111;
	font-size: 25px;
	color: #ffffff;
}
.efeito{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 40px 0 40 0;
}
#logo{
	float: left;
}
#menu{
	margin-top: 20px;
	float: right;
}
#menu a{
	background-color: #ffffff;
	padding: 15px;
	text-decoration: none;
	color: #111;
	text-shadow: 1px 1px #111111;
}
#menu a:hover{
	background-color: #ffffff;
	border-radius: 60%;
}